.navbar-brand {
  padding-top: 15px;
  vertical-align: middle; 
}
.navbar-brand p { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
hr {
  border-color: black;
  border-width: 2px;
}
#collapsable-nav {
  border-color: black;
  height: auto;
}
section{
  background-color: #b6bdcc;
  margin-bottom: 20px;
}
#header-nav {
  background-color: #a5bae6;
}
#nav-list {
  font-size: 1.5em;
}
/*.nav-bar {
  margin-bottom: 0px;
  margin-top: 0px;
}*/